# Data Science Tools and Ecosystem

## Introduction 

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

* Create a Python notebook.  
* Evaluate both code and markdown in Python.  
* List popular lanugages for data science.  
* List commonly use libraries in data science.  
* Create a table of open-source data science tools.  
* Evaluate basic arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. C++

Some of the libraries commonly used by Data Scientists include:

1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

### Table 1. Data Science Tools
|Data Science Tools|
|------|
|Jupyter IDE|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This is a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

JN (I'd prefer not to share my full name)